{% extends "Base.html" %}

{% block content %}
<div class="product-container">
    {% if success %}
    <div class="notification success">{{ success }}</div>
    {% endif %}

    {% if error %}
    <div class="notification error">{{ error }}</div>
    {% endif %}
    <div class="form-container" id="create-user-form">
        <h1 class="title">Create <span class="title-in">User</span></h1>
        <form action="/create_user" method="POST">
            <div class="username-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="password-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}