<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product parameters</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="form-container">
        <h1 class="title">Create <span class="title-in">User</span></h1>
        <form action="/create_user" method="POST">
            <div class="username-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="password-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>