<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product parameters</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="form-container">
        <h1 class="title">Log <span class="title-in">In</span></h1>
        <form action="/login" method="POST" id="loginForm">
            <div class="username-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="password-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            
            const formData = new FormData(event.target);
            const data = new URLSearchParams(formData);
            
            const response = await fetch('/login', {
                method: 'POST',
                body: data
            });
            
            const result = await response.json();
            
            if (response.ok) {
                // Store the access token
                localStorage.setItem('access_token', result.access_token);
                
                // Redirect to the specified URL
                window.location.href = '/get_all_product_params';
            } else {
                // Handle error (e.g., display error message)
                alert(result.detail);
            }
        });
    </script>
</body>
</html>