<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product parameters</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1 class="title">Menu</h1>
    <div class="buttons">
        <button onclick="productParamsBtn()">Product parameters</button>
        <button onclick="usersBtn()">Users</button>
    </div>

    <script src="/static/js/script.js"></script>
</body>

</html>