<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product parameters</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="header">
        <h1 class="product-params-title">Products parameters</h1>
        <button id="create-user-btn" onclick="createUser()">Create User</button>
    </div>
    <div class="container">
        <div class="search-container">
            <input type="text" id="searchInput" class="search">
            <button onclick="searchParams()">Submit</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Parent Code</th>
                </tr>
            </thead>
            <tbody>
                {% for param in params %}
                <tr>
                    <td>{{ param.id }}</td>
                    <td>{{ param.name }}</td>
                    <td>{{ param.code }}</td>
                    <td>{{ param.parentCode }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="nav-buttons">
            <button onclick="previous_btn('{{skip}}', '{{limit}}', '{{search}}')">Previous</button>
            <button onclick="next_btn('{{skip}}', '{{limit}}', '{{search}}')">Next</button>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>